<div class="mycontent">
    <div class="col-md-12">
        <hr />
        <h3 class="text-center">{{ 'adminConfigarationPage.studentPage.student' | translate }}</h3>
        <hr />
    </div>
    <div class="col-md-12">
        <!-- <div class="rcorners2"> -->
                <div class="panel panel-default">
           
                        <div class="panel-body">
            <form class="form-horizontal" #studentSearchForm="ngForm" (ngSubmit)="searchStudent(studentSearchForm)">
                <div class="col-md-3">
                    <label for="institutionName">{{'adminConfigarationPage.studentPage.institution' | translate}}</label>
                    <ngx-select-dropdown #instituteName (change)="changeValueInstitute($event)" [multiple]="false" [(value)]="selectedInstituteValue"
                        [config]="instituteNameconfig" [options]="institutionList"></ngx-select-dropdown>
                    <!-- <select class="form-control" name="institutionName" #institutionName="ngModel" [(ngModel)]="student.institutionName" (change)="onInstituteSelect($event.target.value)"
                        required>
                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.institution' | translate}}</option>
                        <option *ngFor="let item of institutionList" value={{item.institutionId}}>{{item.instName}}
                        </option>
                    </select> -->
                </div>
                <div class="col-md-3">
                    <label for="categoryCode">{{'adminConfigarationPage.studentPage.courseCategory' | translate}}</label>
                    <ngx-select-dropdown #categoryName (change)="changeValueCourseCategory($event)" [multiple]="false" [(value)]="selectedCourseCategoryValue"
                        [config]="courseCategorNameconfig" [options]="courseCategoryListForSearch"></ngx-select-dropdown>
                    <!-- <select class="form-control" type="text" name="courseCategory" #courseCategory="ngModel" [(ngModel)]="student.courseCategory"
                        (change)="onCourseCategorySelect($event.target.value)" required>
                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courseCategory' | translate}}</option>
                        <option *ngFor="let item of courseCategoryList" value={{item.categoryId}}>{{item.categoryName}}
                        </option>
                    </select> -->
                   
                </div>
                <div class="col-md-3">
                    <label for="courseName">{{'adminConfigarationPage.studentPage.courses' | translate}}</label>
                    <ngx-select-dropdown  #courseName (change)="changeValueCourse($event)" [multiple]="false" [(value)]="selectedCourseValue"
                        [config]="courseNameconfig" [options]="courseListLocal"></ngx-select-dropdown>
                    <!-- <select class="form-control" type="text" name="course" #course="ngModel" [(ngModel)]="student.course" (change)="onCourseSelect($event.target.value)"
                        required>
                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courses' | translate}}</option>
                        <option *ngFor="let item of courseList" value={{item.courseName}}>{{item.courseName}}
                        </option>
                    </select> -->
                </div>
                <div class="col-md-3">
                    <label for="status">{{'adminConfigarationPage.studentPage.status' | translate}}</label>
                    <ngx-select-dropdown  #status (change)="changeValueStatus($event)" [multiple]="false" [(value)]="selectedStatusValue"
                    [config]="statusNameconfig" [options]="statusList"></ngx-select-dropdown>
                    <!-- <select class="form-control" name="status" #status="ngModel" [(ngModel)]="student.status" required>
                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.status' | translate}}</option>
                        <option *ngFor="let item of statusList" value={{item.status}}>{{item.status}} </option>
                    </select> -->
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding"  type="button" data-toggle="modal"
                    data-target="#addModal"
                        (click)="addNew()">{{'adminConfigarationPage.studentPage.individual' | translate}}</button>
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding"  type="button" data-toggle="modal"
                    data-target="#bulk"
                        (click)="openbulkuploadpopup()">{{'adminConfigarationPage.studentPage.bulk' | translate}}</button>
                    <button class="btn btn-warning btn-outline pull-right cssButtonPadding" type="button" (click)="searchClear()">{{'adminConfigarationPage.commonFields.clear' | translate}}</button>
                    <button class="btn btn-primary btn-outline pull-right cssButtonPadding" type="button" (click)="searchStudent(student)">{{'adminConfigarationPage.commonFields.search' | translate}}</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-warning fade in myAlert table-condensed table-striped" *ngIf="alertMassege">
            <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
            <h4 style="text-align: center">{{alertMassege}}</h4>
        </div>
        <div *ngIf="isSearchClicked">

            <div *ngIf="!isListContainsData">
                <h3 class="text-center noRecord">{{ 'adminConfigarationPage.commonFields.noRecordFound' | translate }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="isListContainsData">

        <div class="table-responsive" >
            <table class="table table-bordered myTable table-condensed table-striped">
                <thead>
                    <tr class="text-center">
                        <th>{{'adminConfigarationPage.commonFields.index' | translate}}</th>
                        <th [class.active]="key === 'stdName'" (click)=" sort('stdName')">{{ 'adminConfigarationPage.studentPage.studentName' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'stdMobile'" (click)=" sort('stdMobile')">{{ 'adminConfigarationPage.studentPage.mobile' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'stdEmail'" (click)=" sort('stdEmail')">{{ 'adminConfigarationPage.studentPage.email' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'stdRollnumber'" (click)=" sort('stdRollnumber')">{{ 'adminConfigarationPage.studentPage.rollNumber' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'institutionName'" (click)=" sort('institutionName')">{{ 'adminConfigarationPage.studentPage.institution' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'courseCategory'" (click)=" sort('courseCategory')">{{ 'adminConfigarationPage.studentPage.courseCategory' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'courseName'" (click)=" sort('courseName')">{{ 'adminConfigarationPage.studentPage.courses' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="key === 'status'" (click)=" sort('status')">{{ 'adminConfigarationPage.studentPage.status' | translate }}
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </th>
                        <th>{{ 'adminConfigarationPage.commonFields.edit' | translate }}</th>
                        <th>{{ 'adminConfigarationPage.commonFields.delete' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of studentList | orderBy: key : reverse : caseInsensitive : comparator |  paginate: { itemsPerPage: pagenumber, currentPage: p };let i=index">
                        <td>{{((p-1)*itemsPerPage2)+i+1}}</td>
                        <td>{{item.stdName}}</td>
                        <td>{{item.stdMobile}}</td>
                        <td>{{item.stdEmail}}</td>
                        <td>{{item.stdRollnumber}}</td>
                        <td>{{item.institutionName}}</td>
                        <td>{{item.categoryName}}</td>
                        <td>{{item.courseName}}</td>
                        <td>{{item.statusName}}</td>
                        <td>
                            <button class="btn btn-warning buttonStyle" data-toggle="modal" data-target="#addModal" (click)="selectUser(item)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:15px"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger buttonStyle" data-toggle="modal" data-target="#deleteModal" (click)="selectUser(item)">
                                <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Show
                <select (change)="pageChange($event.target.value)" style="border: none;">

                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
                Entries
            </div>
            <div class="col-md-2"></div>

            <div class=" col-md-6 text-right">
                <pagination-controls (pageChange)="customPageChange($event)"></pagination-controls>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- </div> -->
    <!-- Add Modal-->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal" #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm)">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">X</button>
                        <h4 class="modal-title">{{'adminConfigarationPage.studentPage.addStudent' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-12">

                            <h3>Student Details</h3>
                            <div class="form-group">
                                
                                <div class="col-md-3">
                                    <label for="studentName">{{'adminConfigarationPage.studentPage.studentName' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.studentName' | translate}}" name="stdName"
                                        #stdName="ngModel" [(ngModel)]="student.stdName" style="text-transform: capitalize;" required />
                                    <div class="validation-error" *ngIf="stdName.invalid && stdName.touched">{{'adminConfigarationPage.commonFields.nameFieldRequired' | translate}}</div>


                                </div>
                                <div class="col-md-3">
                                    <label for="gender">{{'adminConfigarationPage.studentPage.gender' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" class="form-control" type="text" name="gender" #gender="ngModel" [(ngModel)]="student.gender"
                                        required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.gender' | translate}}</option>
                                        <option value="0"> Male </option>
                                        <option value="1"> Female </option>
                                    </select>
                                    <div class="validation-error" *ngIf="gender.invalid && gender.touched">{{'adminConfigarationPage.commonFields.gender' | translate}}</div>
                                </div>



                                <div class="col-md-3">
                                    <label for="address1">{{'adminConfigarationPage.studentPage.address1' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.address1' | translate}}" name="addressOne"
                                        #addressOne="ngModel" [(ngModel)]="student.addressOne" required />
                                    <div class="validation-error" *ngIf="addressOne.invalid && addressOne.touched">{{'adminConfigarationPage.commonFields.Address1Required' | translate}}</div>

                                </div>
                                <div class="col-md-3">
                                    <label for="address2">{{'adminConfigarationPage.studentPage.address2' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.address2' | translate}}" name="addressTwo"
                                        #addressTwo="ngModel" [(ngModel)]="student.addressTwo" required />
                                    <div class="validation-error" *ngIf="addressTwo.invalid && addressTwo.touched">{{'adminConfigarationPage.commonFields.Address2Required' | translate}}</div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="country">{{'adminConfigarationPage.studentPage.country' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" name="countryName" #countryName="ngModel" [(ngModel)]="student.countryName" (change)="onSelect($event.target.value)"
                                        required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.country' | translate}}</option>
                                        <option *ngFor="let country of countries" value={{country.id}}>
                                            {{country.name}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="countryName.invalid && countryName.touched">{{'adminConfigarationPage.commonFields.countryRequired' | translate}}</div>

                                </div>
                                <div class="col-md-3">
                                    <label for="state">{{'adminConfigarationPage.studentPage.state' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" name="state" #state="ngModel" [(ngModel)]="student.state" (change)="onStateSelect($event.target.value)"
                                        required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.state' | translate}}</option>
                                        <option *ngFor="let state of states" value={{state.id}}>
                                            {{state.name}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="state.invalid && state.touched">{{'adminConfigarationPage.commonFields.stateRequired' | translate}}</div>


                                </div>
                                <div class="col-md-3">
                                    <label for="city">{{'adminConfigarationPage.studentPage.city' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" name="city" #city="ngModel" [(ngModel)]="student.city" required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.city' | translate}}</option>
                                        <option *ngFor="let city of cities" value={{city.id}}>
                                            {{city.name}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="city.invalid && city.touched">{{'adminConfigarationPage.commonFields.cityRequired' | translate}}</div>


                                </div>
                                <div class="col-md-3">
                                    <label for="pinCode">{{'adminConfigarationPage.studentPage.pinCode' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.pinCode' | translate}}" name="zipCode"
                                        #zipCode="ngModel" [(ngModel)]="student.zipCode" required />
                                    <div class="validation-error" *ngIf="zipCode.invalid && zipCode.touched">{{'adminConfigarationPage.commonFields.PincodeRequired' | translate}}</div>


                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-3">
                                    <label for="email">{{'adminConfigarationPage.studentPage.email' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.email' | translate}}" name="stdEmail"
                                        #stdEmail="ngModel" [(ngModel)]="student.stdEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                                        required />
                                    <div class="validation-error" *ngIf="stdEmail.invalid && stdEmail.touched">
                                        <div class="validation-error" *ngIf="stdEmail.errors.required ">
                                            {{'adminConfigarationPage.commonFields.emailRequired' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="stdEmail.errors.pattern">
                                            {{'adminConfigarationPage.commonFields.invalidEmailMessage' | translate}}
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <label for="mobile">{{'adminConfigarationPage.studentPage.mobile' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.mobile' | translate}}" name="stdMobile"
                                        #stdMobile="ngModel" [(ngModel)]="student.stdMobile" pattern="\d*" minlength=10 maxlength=15
                                        required />
                                    <div class="validation-error" *ngIf="stdMobile.invalid && stdMobile.touched">
                                        <div class="validation-error" *ngIf="stdMobile.errors.required ">
                                            {{'adminConfigarationPage.commonFields.MobileRequired' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="stdMobile.errors.minlength">
                                            {{'adminConfigarationPage.commonFields.mobileLength' | translate}}
                                        </div>
                                        <div class="validation-error" *ngIf="stdMobile.errors.pattern">
                                            {{'adminConfigarationPage.commonFields.invalidMobileMessage' | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="plan">{{'adminConfigarationPage.studentPage.plan' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" type="text" name="plan" #plan="ngModel" [(ngModel)]="student.planId" required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.plan' | translate}}</option>
                                        <option *ngFor="let item of planList" value={{item.planId}}> {{item.planName}} - {{item.planMembership}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="plan.invalid && plan.touched">{{'adminConfigarationPage.commonFields.planMessage' | translate}}</div>


                                </div>

                                <!-- <div class="col-sm-3">
                                    <label for="status">{{'adminConfigarationPage.studentPage.status' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" name="status" #status="ngModel" [(ngModel)]="student.statusId" required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.status' | translate}}</option>
                                        <option *ngFor="let item of statusList" value={{item.statusId}}>{{item.status}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="status.invalid && status.touched">{{'adminConfigarationPage.commonFields.statusMesaage' | translate}}</div>

                                </div> -->
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3">
                                        <label for="plan">{{'adminConfigarationPage.studentPage.imageupload' | translate}}<span class="reqMark">*</span></label>
                                        <img *ngIf="url" [src]="url" height="200">
                                        <input type="file"  id="fileControl" #fileInput  (change)="addToQueue($event.target.files)" required />
                                </div>

                            </div>


                            <div class="form-group col-md-12">
                                <h3>Institution Details</h3>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="institution">{{'adminConfigarationPage.studentPage.institution' | translate}}<span class="reqMark">*</span></label>
                                        <select class="form-control" name="institutionName" #institutionName="ngModel" [(ngModel)]="student.institutionId" (change)="onInstituteSelect($event.target.value)"
                                            required>
                                            <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.institution' | translate}}</option>
                                            <option *ngFor="let item of institutionList" value={{item.institutionId}}>{{item.instName}}
                                            </option>
                                        </select>
                                        <div class="validation-error" *ngIf="institutionName.invalid && institutionName.touched">{{'adminConfigarationPage.commonFields.institution' | translate}}</div>

                                    </div>
                                    <div class="col-sm-3">
                                        <label for="courseCategory">{{'adminConfigarationPage.studentPage.courseCategory' | translate}}<span class="reqMark">*</span></label>
                                        <select class="form-control" type="text" name="courseCategory" #courseCategory="ngModel" [(ngModel)]="student.categoryId"
                                            (change)="onCourseCategorySelect($event.target.value)" required>
                                            <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courseCategory' | translate}}</option>
                                            <option *ngFor="let item of courseCategoryList" value={{item.categoryId}}>{{item.categoryName}}
                                            </option>
                                        </select>
                                        <div class="validation-error" *ngIf="courseCategory.invalid && courseCategory.touched">{{'adminConfigarationPage.commonFields.courseCategory' | translate}}</div>

                                    </div>
                                    <div class="col-sm-3">
                                        <label for="courses">{{'adminConfigarationPage.studentPage.courses' | translate}}<span class="reqMark">*</span></label>
                                        <select class="form-control" type="text" name="course" #course="ngModel" [(ngModel)]="student.courseId" (change)="onCourseSelect($event.target.value)"
                                            required>
                                            <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courses' | translate}}</option>
                                            <option *ngFor="let item of courseList" value={{item.courseId}}>{{item.courseName}}
                                            </option>
                                        </select>
                                        <div class="validation-error" *ngIf="course.invalid && course.touched">{{'adminConfigarationPage.commonFields.courses' | translate}}</div>

                                    </div>

                                    <div class="col-sm-3">
                                        <label for="yearofjoining">{{'adminConfigarationPage.studentPage.yearofjoining' | translate}}<span class="reqMark">*</span></label>
                                        <select class="form-control" class="form-control" type="text" name="yearofjoining" #yearofjoining="ngModel" [(ngModel)]="student.yearofjoining"
                                            required>
                                            <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.yearofjoining' | translate}}</option>
                                            <option *ngFor="let year of academicYearsList" value="{{year}}"> {{year}} </option>


                                        </select>
                                        <div class="validation-error" *ngIf="yearofjoining.invalid && yearofjoining.touched">{{'adminConfigarationPage.commonFields.yearofjoining' | translate}}</div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="rollNumber">{{'adminConfigarationPage.studentPage.rollNumber' | translate}}<span class="reqMark">*</span></label>
                                        <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.studentPage.rollNumber' | translate}}" name="stdRollnumber"
                                            #stdRollnumber="ngModel" [(ngModel)]="student.stdRollnumber" required />
                                        <div class="validation-error" *ngIf="stdRollnumber.invalid && stdRollnumber.touched">{{'adminConfigarationPage.commonFields.stdAdmissionNumber' | translate}}</div>


                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- </div> -->
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-success"  [disabled]="studentForm.invalid"  (click)="saveStudent(student)" type="button"  >Save</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.close' | translate }}</button>

                    </div>
                    <div class="clearfix"></div>

                </form>
            </div>
        </div>

    </div>


    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.delete' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{student.stdName}}</span>??</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deleteStudent(student.stdId)" data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.yes' | translate }}</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.no' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bulk upload -->

    <div class="modal fade" id="bulk" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form role="form" class="form-horizontal" id="myform" action="#" >
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" (click)="resetmodal()">X</button>
                        <h4 class="modal-title">{{'adminConfigarationPage.studentPage.uploadStudent' | translate}}</h4>
                    </div>
                    <div id="div1" class="modal-body">
                        <h4 class="modal-title">{{'adminConfigarationPage.studentPage.selectFile' | translate}}</h4>
                        <input type="file" id="uid"  (change)="addToQueue($event.target.files)"/> 
                        <!-- <input type="file" id="uid"  (change)="addToFileToServer($event)"/>  -->
                       
                    <label style="color:red">{{errorMessage}}</label>
                    <label style="color:green">{{successMessage}}</label>
                    <label style="color:orange">{{warningMessage}}</label>
                    
                        <br>
                        <div class="col-lg-12 text-left">
                            <button class="btn btn-warning" (click)="displayStudentsForUpdate()" data-toggle="modal" data-target="#studentFileUploadModal"
                               >View</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>



    </div>

    <!-- studentfileupload -->

    
    <div class="modal fade" id="studentFileUploadModal" role="dialog">
        <div class="modal-dialog modal-lg ">
            <!-- Modal content -->
            <div class="modal-content">
                <form class="form-horizontal" #studentUploadFileForm="ngForm">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" >X</button>
                        <h4 class="modal-title">{{'adminConfigarationPage.studentFileUpload.studentUploadedfile'| translate}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- <h4>Select Plans </h4> -->
                            <div class="col-md-2">
                                <label>{{'adminConfigarationPage.studentPage.selectPlan' | translate}}</label>
                                <select class="form-control" name="planName" id="planName" #planName="ngModel" [(ngModel)]="student.planId">
                                    <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.selectPlan' | translate}}</option>
                                    <option *ngFor="let item of planList" value={{item.planId}}> {{item.planName}} - {{item.planMembership}}
                                    </option>

                                </select>
                                {{ errormsg }}
                            </div>

                            <!-- <h5>Select Institution </h5> -->
                            <div class="col-md-2">
                                <label>{{'adminConfigarationPage.studentPage.selectinstitution' | translate}}</label>
                                <select class="form-control" type="text" name="institutionName" #institutionName="ngModel" [(ngModel)]="student.institutionId"
                                    (change)="onInstituteSelect($event.target.value)">
                                    <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.institution' | translate}}</option>
                                    <option *ngFor="let item of institutionList" value={{item.institutionId}}>{{item.instName}}
                                    </option>
                                </select>

                            </div>

                            <!-- <h4>Select Course Category </h4> -->
                            <div class="col-md-2">
                                <label>{{'adminConfigarationPage.studentPage.selectCourseCategory' | translate}}</label>
                                <select class="form-control" type="text" name="courseCategory" #courseCategory="ngModel" [(ngModel)]="student.categoryId"
                                    (change)="onCourseCategorySelect($event.target.value)" required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courseCategory' | translate}}</option>
                                    <option *ngFor="let item of courseCategoryList" value={{item.categoryId}}>{{item.categoryName}}
                                    </option>
                                </select>
                            </div>

                            <!-- <h4>Select Course </h4> -->
                            <div class="col-md-2">
                                <label>{{'adminConfigarationPage.studentPage.selectCourse' | translate}}</label>
                                <select class="form-control" type="text" name="courseName" #courseName="ngModel" [(ngModel)]="student.courseId" (change)="onCourseSelect($event.target.value)"
                                    required>
                                    <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.studentPage.courses' | translate}}</option>
                                    <option *ngFor="let item of courseList" value={{item.courseId}}>{{item.courseName}}
                                    </option>
                                </select>
                            </div>
                            <br>
                            <br>
                        </div>

                        <h5>Select All</h5>
                        <input type="checkbox" id="mycheck-{{ i+1 }}" value="{{ i+1 }}" (click)="toggleSelect($event.target.checked)">
                        <label for="mycheck-{{ i+1 }}"></label>
                        <table class="table table-bordered myTable">
                            <tr class="text-center">
                                <th>checkbox</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.slno'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.studentName'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.gender'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.address1'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.address2'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.country'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.state'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.city'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.zipCode'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.email'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.admissionNumber'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.institutionNumber'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.courseCategory'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.course'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.parentsPhone'| translate}}</th>
                                <th>{{'adminConfigarationPage.studentFileUpload.plan'| translate}}</th>
                                <!-- <th>{{'adminConfigarationPage.studentFileUpload.status'| translate}}</th> -->
                                <th>{{'adminConfigarationPage.studentFileUpload.delete'| translate}}</th>

                            </tr>
                            <tbody>
                                <tr *ngFor="let item of studentBulkList;let i=index">
                                    <td style="color:#cccccc">
                                        <input type="checkbox" id="mycheck-{{ i+1 }}" value="{{ i+1 }}" (change)="onSelectPlan( i+1 , $event.target.checked)" checked={{checkedval}}>
                                        <label for="mycheck-{{ i+1 }}"></label>
                                    </td>
                                    <td>{{i+1}}</td>
                                    <td>
                                        <input type="text" id="studentname-{{ i }}" name="stdName[{{ i }}]" #stdNameControl="ngModel" [(ngModel)]="item.stdName"
                                            pattern="[a-zA-Z]*" minlength="4" required>
                                        <div class="validation-error" *ngIf="stdNameControl.invalid "> Name must be at least 4 characters</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentgender-{{ i }}" name="gender[{{ i }}]" #genderControl="ngModel" [(ngModel)]="item.gender" pattern="[a-zA-Z]*"
                                            minlength="4" maxlength="6" required>
                                        <div class="validation-error" *ngIf="genderControl.invalid "> Gender is required
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentaddressOne-{{ i }}" name="addressOne[{{ i }}]" #addressOneControl="ngModel" [(ngModel)]="item.addressOne"
                                            required>
                                        <div class="validation-error" *ngIf="addressOneControl.invalid "> Address1 is required
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentaddressTwo-{{ i }}" name="addressTwo[{{ i }}]" #addressTwoControl="ngModel" [(ngModel)]="item.addressTwo"
                                            required>
                                        <div class="validation-error" *ngIf="addressTwoControl.invalid "> Address2 is required
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentcountryName-{{ i }}" name="countryName[{{ i }}]" #countryNameControl="ngModel" [(ngModel)]="item.countryName"
                                            required>
                                        <div class="validation-error" *ngIf="countryNameControl.invalid "> Country Name is required</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentstate-{{ i }}" name="state[{{ i }}]" #stateControl="ngModel" [(ngModel)]="item.state"
                                            required>
                                        <div class="validation-error" *ngIf="stateControl.invalid "> State is required
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentcity-{{ i }}" name="city[{{ i }}]" #cityControl="ngModel" [(ngModel)]="item.city" required>
                                        <div class="validation-error" *ngIf="cityControl.invalid "> City is required</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentzipCode-{{ i }}" name="zipCode[{{ i }}]" #zipCodeControl="ngModel" [(ngModel)]="item.zipCode"
                                            pattern="[0-9]*" maxlength="6" required>
                                        <div class="validation-error" *ngIf="zipCodeControl.invalid"> ZipCode must be in digits</div>
                                    </td>
                                    <td>
                                        <input type="text" id="stdEmail-{{ i }}" name="stdEmail[{{ i }}]" #stdEmailControl="ngModel" [(ngModel)]="item.stdEmail"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" (blur)="fncheckemail($event.target.value)"
                                            required />
                                        <div class="validation-error" *ngIf="stdEmailControl.invalid "> Please enter the correct email or valid email.
                                            <div *ngIf="item.stdEmail== ''">Email duplicates detected</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" id="stdRollnumber-{{ i }}" name="stdRollnumber[{{ i }}]" #stdRollnumberControl="ngModel"
                                            [(ngModel)]="item.stdRollnumber" required>
                                        <div class="validation-error" *ngIf="stdRollnumberControl.invalid ">
                                            Admission Number is required</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentinstitutionName-{{ i }}" name="institutionName[{{ i }}]" #institutionNameControl="ngModel"
                                            [(ngModel)]="item.institutionId" required>
                                        <div class="validation-error" *ngIf="institutionNameControl.invalid ">
                                            Institution Name is required</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentcourseCategory-{{ i }}" name="courseCategory[{{ i }}]" #courseCategoryControl="ngModel" [(ngModel)]="item.categoryId"
                                            required>
                                        <div class="validation-error" *ngIf="courseCategoryControl.invalid ">CourseCategory is required</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentcourseName-{{ i }}" name="courseName[{{ i }}]" #courseNameControl="ngModel" [(ngModel)]="item.courseId" required>
                                        <div class="validation-error" *ngIf="courseNameControl.invalid ">Course is required</div>
                                    </td>
                                    <td>
                                            <input type="text" id="stdMobile-{{ i }}" name="stdMobile[{{ i }}]" #stdMobileControl="ngModel" [(ngModel)]="item.stdMobile"
                                                minlength="10" maxlength="12" pattern="[0-9]*" required>
                                            <div class="validation-error" *ngIf="stdMobileControl.invalid ">Phone Number is not valid</div>
                                    </td>
                                    <td>
                                        <input type="text" id="studentplan-{{ i+1 }}" name="plan[{{ i }}]" #planControl="ngModel" [(ngModel)]="item.planId" readonly
                                            required>
                                        <div class="validation-error" *ngIf="planControl.invalid && planControl.touched ">Plan is required</div>
                                    </td>

                                    <!-- <td>
                                        <input type="text" id="studentstatus-{{ i }}" name="status[{{ i }}]" #statusControl="ngModel" [(ngModel)]="item.status" required>
                                        <div class="validation-error" *ngIf="statusControl.invalid ">Status is not required
                                        </div>
                                    </td> -->

                                    <td>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#studentDeleteModal" (click)="selectedStudent(item)">
                                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit" (click)="saveStudentuploadFile(studentBulkList)" data-dismiss="modal">{{'adminConfigarationPage.commonFields.save'| translate}}</button>
                        <button class="btn btn-primary" type="button" data-dismiss="modal">{{'adminConfigarationPage.commonFields.close'| translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="studentDeleteModal" role="dialog">
        <div class="modal-dialog modal-sm ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{'adminConfigarationPage.studentFileUpload.deleteStudent'| translate}}</h4>
                </div>

                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{student.stdName}}</span>????</h3>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deleteStudentBulk(studentBulk)" data-dismiss="modal">{{'adminConfigarationPage.commonFields.yes'| translate}}
                    </button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{'adminConfigarationPage.commonFields.no'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>