.logo{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
/* .title
{
    margin-top: -9px;
    color: #019A00;
    height: 50px;
    margin-left: 80px;
} */
.titleImage
{
    height: 50px;
    margin-top: 10px;
}
.list-inline 
{
    margin-top: 5px;
}


.logins{
	margin-top: 10px;
     margin-right:5%;
	float: right;
}
.list{
	list-style:none;
	margin-left:15%;
	
}
.main{
	background-color:#01455c;
	background-image: linear-gradient(to bottom right, #01455c, #008eae);
	padding:2%;
}
.icons{
	margin-top:5%;
	margin-bottom:5%;
}
.Border{
	border-radius:16px;
	outline:none;
	border-color:#06a5dc;
	padding:5px;
}
.slider_images{
	padding:5%;
    background:transparent;
}
.shadow{
	 box-shadow: 5px 10px 18px #000000;
}

.row { margin: 0;
    padding: 0 ;
    }
    
    /* .adds{
        margin-top:2%;
       
    } */

    .adds img {
        width:100%;
        height: 200px;
        margin: 4px;
    }

    .pad{
        padding:0px;
    }

/* old css */

/* .nopad{
    padding: 0px;
}
.nopad-t{
    padding-top: 0px;
}
.nopad-b{
    padding-bottom: 0px;
}
.nopad-l{
    padding-left: 0px;
}
.nopad-r{
    padding-right: 0px;
}
.nomar{
    margin: 0px;
}
.nomar-t{
    margin-top: 0px;
}
.nomar-b{
    margin-bottom: 0px;
}
.nomar-l{
    margin-left: 0px;
}
.nomar-r{
    margin-right: 0px;
}
.navbar{
    min-height : 70px;
}
.navbar-brand{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 23px 15px;
}
.color1{
    color:#2C74E1;
}
.color2{
    color:#2C74E1;
}
.color3{
    color:#2C74E1;
}
input.crText {
    margin-top: 17px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
    padding: 5px;
    margin-right: 5px;
    font-size: 13px;
}
.crBtn {
    border-radius: 15px;
    width: 75px;
    background: #2C74E1;
    border-color:#2C74E1;
}
.crLogo{
    width:50px;
    position: absolute;
    top:10px;
}
.navbar-brand > span {
    position: absolute;
    left: 75px;
}
.med-advertise{
    padding: 30px 0px;
} */

.img {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
 }