<div class="mycontent">

    <div class="col-md-12">
        <hr />
        <h3 class="text-center">{{ 'adminConfigarationPage.coursePage.courses' | translate }}</h3>
        <hr />
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
           
            <div class="panel-body">
            <form class="form-horizontal" #courseForm="ngForm" (ngSubmit)="FnSearchCourse(courseForm)">
                <div class="col-md-3">
                    <label for="courseName">{{
                            'adminConfigarationPage.coursePage.courseName' | translate }}</label>
                    <!-- <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterName' | translate }}"
                        name="courseName" #courseName="ngModel" [(ngModel)]="courseSearch.courseName" /> -->
                        <ngx-select-dropdown  #courseName (change)="changeValue($event)" [multiple]="false" [(value)]="selectedValue"
                        [config]="config" [options]="courseListLocal"></ngx-select-dropdown>
                </div>
                <div class="col-md-3">
                    <label for="courseCode">{{
                            'adminConfigarationPage.coursePage.courseCode' | translate }}</label>
                    <!-- <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}"
                        name="courseCode" #courseCode="ngModel" [(ngModel)]="courseSearch.courseCode" /> -->
                        <ngx-select-dropdown  #courseCode [multiple]="false" [(value)]="selectedcourseCodeValue"
                        [config]="courseCodeconfig" [options]="courseListLocal"></ngx-select-dropdown>
                </div>
                <div class="col-md-3">
                    <label for="categoryName">{{
                            'adminConfigarationPage.courseCategoryPage.categoryName' | translate }}</label>
                    <!-- <select class="form-control" name="categoryName" #categoryName="ngModel" [(ngModel)]="courseSearch.categoryName">
                        <option *ngFor="let item of courseCategoryList" value={{item.categoryId}}>{{item.categoryName}}
                        </option>
                    </select> -->
                    <ngx-select-dropdown  #categotyName [multiple]="false" [(value)]="selectedcategoryNameValue"
                    [config]="categoryNameconfig" [options]="courseCategoryListLocal"></ngx-select-dropdown>
                </div>
                <div class="col-md-3">
                    <label for="duration">{{
                            'adminConfigarationPage.coursePage.duration' | translate }}</label>
                    <select class="form-control" name="duration" #duration="ngModel" [(ngModel)]="courseSearch.duration">
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                    </select>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding" 
                        type="button" (click)="addNew()">{{'adminConfigarationPage.commonFields.addNew'
                        | translate}}</button>
                    <button class="btn btn-warning btn-outline pull-right cssButtonPadding" type="button" (click)="searchClear()">{{'adminConfigarationPage.commonFields.clear'
                        | translate}}</button>
                    <button class="btn btn-primary btn-outline pull-right cssButtonPadding" type="button" (click)="FnSearchCourse(courseSearch)">{{'adminConfigarationPage.commonFields.search'
                        | translate}}</button>
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
        <div class="col-md-12">
            <div class="alert alert-warning fade in myAlert" *ngIf="alertMassege">
                <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
                <h4 style="text-align: center">{{alertMassege}}</h4>
            </div>
            <div *ngIf="isSearchClicked">
            <div *ngIf="!isListContainsData">
                <h3 class="text-center noRecord">{{ 'adminConfigarationPage.commonFields.noRecordFound' | translate }}</h3>
            </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="isListContainsData">
        <div class="table-responsive">
        <table class="table table-bordered myTable table-condensed table-striped">
            <thead>
            <tr class="text-center">
                <th>{{'adminConfigarationPage.commonFields.index' | translate}}</th>
                <th [class.active]="key === 'courseName'" (click)=" sort('courseName')">{{
                    'adminConfigarationPage.coursePage.courseName' | translate }}<span [hidden]="reverse">▼</span><span
                        [hidden]="!reverse">▲</span></th>
                <th [class.active]="key === 'courseCode'" (click)=" sort('courseCode')">{{
                    'adminConfigarationPage.coursePage.courseCode' | translate }} <span [hidden]="reverse">▼</span><span
                        [hidden]="!reverse">▲</span></th>
                <th [class.active]="key === 'categoryName'" (click)=" sort('categoryName')">{{
                    'adminConfigarationPage.courseCategoryPage.categoryName' | translate }} <span [hidden]="reverse">▼</span><span
                        [hidden]="!reverse">▲</span></th>
                <th [class.active]="key === 'duration'" (click)=" sort('duration')">{{
                    'adminConfigarationPage.coursePage.duration' | translate }} <span [hidden]="reverse">▼</span><span
                        [hidden]="!reverse">▲</span></th>
                <th>{{ 'adminConfigarationPage.commonFields.edit' | translate }}</th>
                <th>{{ 'adminConfigarationPage.commonFields.delete' | translate }}</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let item of courseList | filterCourses : searchText | orderBy: key : reverse : caseInsensitive : comparator |  paginate: { itemsPerPage: pagenumber, currentPage: p };let i=index">
                    <td>{{((p-1)*itemsPerPage2)+i+1}}</td>
                    <td>{{item.courseName}}</td>
                    <td>{{item.courseCode}}</td>
                    <!-- <td>{{item.categoryName}}</td> -->
                    <td>{{item.courseCategoryVos[0].categoryName}}</td>
                    <td>{{item.duration}}</td>
                    <td>
                        <button class="btn btn-warning buttonStyle" data-toggle="modal" data-target="#addModal" (click)="selectedUser(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger buttonStyle" data-toggle="modal" data-target="#deleteModal" (click)="selectedUser(item)">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="form-group">
            <div class="col-md-4">
                Show
                <select (change)="pageChange($event.target.value)" style="border: none;">

                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
                Entries
            </div>
            <div class="col-md-2"></div>

            <div class=" col-md-6 text-right">
                <pagination-controls (pageChange)="customPageChange($event)"></pagination-controls>
            </div>
            <div class="clearfix"></div>
            </div>

        </div>
    <!-- </div> -->
    <!-- Add Modal-->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" #courseForm="ngForm" (ngSubmit)="saveCourse(courseForm)">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">X</button>
                        <h4 class="modal-title">{{'adminConfigarationPage.commonFields.addNew' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Name">{{
                                    'adminConfigarationPage.coursePage.courseName' | translate }}
                                    <span class="reqMark">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterName' | translate }}"
                                        name="courseName" #courseNameControl="ngModel" [(ngModel)]="course.courseName"
                                        required />
                                    <div class="validation-error" *ngIf="courseNameControl.invalid && courseNameControl.touched">{{'adminConfigarationPage.commonFields.nameFieldRequired'
                                        | translate}}</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="full name">{{
                                    'adminConfigarationPage.coursePage.courseCode' | translate }}
                                    <span class="reqMark">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}"
                                        name="courseCode" #courseCodeControl="ngModel" [(ngModel)]="course.courseCode"
                                        required />
                                    <div class="validation-error" *ngIf="courseCodeControl.invalid && courseCodeControl.touched">{{'adminConfigarationPage.commonFields.codeFieldRequired'
                                        | translate}}</div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="full name">{{
                                    'adminConfigarationPage.courseCategoryPage.categoryName' | translate }}
                                    <span class="reqMark">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="categoryName" #categoryName="ngModel"
                                        [(ngModel)]="course.categoryName" required>
                                        <option *ngFor="let item of courseCategoryList" value={{item.categoryId}}>{{item.categoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="full name"> {{
                                    'adminConfigarationPage.coursePage.duration' | translate }}
                                    <span class="reqMark">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="duration" #duration="ngModel" [(ngModel)]="course.duration"
                                        required>
                                        <option value="2"> 2 </option>
                                        <option value="3"> 3 </option>
                                        <option value="4"> 4 </option>
                                        <option value="5"> 5 </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" [disabled]="courseForm.invalid" (click)="saveCourse(courseForm)"
                            data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.save' | translate }}</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">{{
                            'adminConfigarationPage.commonFields.close' | translate }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.delete' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{course.courseName}}</span>??</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deleteCourse(course.courseId)" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.yes' | translate }}</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.no' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>