.user
{
    height: 80px;
    width: 80px;
}
.logo{
    height: 80px;
    width: 80px;
}

.titleImage{
    height: 50px;
    /* width: 100px; */
}
.studentImage{
    height:100px;
    width: 100px;
}

.myTable,.table th{text-align:center}
.myTable,.table td{
	text-align: center;
  vertical-align: middle;
}
@import url(https://fonts.googleapis.com/css?family=Exo);
.mycontent{font-family:Exo,sans-serif}
.myTable{margin-top:30px}
.myAlert{margin:50px 0 0}
.alert h4{margin:0}
span{color:red}
.footer{padding-top:235px}

/* search start */

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
    /* background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center; */
    background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 100px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
/* search end */

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


.validation-error
{
    color: red;
    text-align: center;
}

th>span{
	color: black;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #cccccc;
}

.cssButtonPadding
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.rcorners2 {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-top: 10px;
    width: 100%;
    overflow: auto;
}

.buttonStyle
{
	height: 30px;
	width: 30px;
	padding: 0px;
}
/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  bottom: 10px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="checkbox"] + label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}


input[type="checkbox"]:checked + label:before {
  width: 10px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.member-nbt .btn {
    margin-right: 5px;
    margin-left: 5px;
}