.myTable,.table th{text-align:center}
.myTable,.table td{
	text-align: center;
  vertical-align: middle;
}
@import url(https://fonts.googleapis.com/css?family=Exo);
.mycontent{font-family:Exo,sans-serif}
.myTable{margin-top:30px}
.myAlert{margin:50px 0 0}
.alert h4{margin:0}
span{color:red}
.footer{padding-top:235px}

.validation-error
{
    color: red;
    text-align: center;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 1px;
}

/* search start */

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
    /* background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center; */
    background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 100px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
/* search end */

th>span{
	color: black;
}

  .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #cccccc;
}

.cssButtonPadding
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.rcorners2 {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-top: 10px;
    width: 100%;
    overflow: auto;
}
