<div class="mycontent">
    <div class="col-md-12">
        <hr />
        <h3 class="text-center">{{ 'adminConfigarationPage.businessEntity.businessEntity' | translate }}</h3>
        <hr />
    </div>
    <div class="col-md-12">
            <div class="panel panel-default">
               
                <div class="panel-body">
            <form class="form-horizontal" #businessEntityForm="ngForm" (ngSubmit)="searchBusinessEntity(businessEntityForm)">
                <div class="col-md-3">
                    <label for="name">{{'adminConfigarationPage.businessEntity.businessName' | translate}}</label>
                    
                        <ngx-select-dropdown #businessName (change)="changeValue($event)" [multiple]="false" [(value)]="selectedValue"
                        [config]="config" [options]="businessEntityListLocal"></ngx-select-dropdown>
                </div>
                <div class="col-md-3">
                    <label for="registrationCode">{{'adminConfigarationPage.businessEntity.registrationNumber' | translate}}</label>
                    
                        <ngx-select-dropdown #registrationNumber (change)="changeValue($event)" [multiple]="false" [(value)]="selectedregistrationNumberValue"
                        [config]="registrationNumberconfig" [options]="businessEntityListLocal"></ngx-select-dropdown>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding" data-toggle="modal"
                        data-target="#addModal" type="button" (click)="addNew()">{{'adminConfigarationPage.commonFields.addNew'
                        | translate}}</button>
                    <button class="btn btn-warning btn-outline pull-right cssButtonPadding" type="button" (click)="searchClear()">{{'adminConfigarationPage.commonFields.clear'
                        | translate}}</button>
                    <button class="btn btn-primary btn-outline pull-right cssButtonPadding"  type="button" (click)="searchBusinessEntity(business)">{{'adminConfigarationPage.commonFields.search'
                        | translate}}</button>
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
        <div class="col-md-12">
            <div class="alert alert-warning fade in myAlert" *ngIf="alertMassege">
                <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
                <h4 style="text-align: center">{{alertMassege}}</h4>
            </div>
            <div *ngIf="isSearchClicked">
                <div *ngIf="!isListContainsData">
                    <h3 class="text-center noRecord">{{ 'adminConfigarationPage.commonFields.noRecordFound' | translate }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="isListContainsData">
        <div class="table-responsive">
        <table class="table table-bordered myTable table-condensed table-striped">
            <thead>
            <tr class="text-center">
                <th>{{'adminConfigarationPage.commonFields.index' | translate}}</th>
                <th [class.active]="key === 'name'" (click)=" sort('name')">{{'adminConfigarationPage.businessEntity.businessName'
                    | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th [class.active]="key === 'registrationCode'" (click)=" sort('registrationCode')">{{'adminConfigarationPage.businessEntity.registrationNumber'
                    | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                <th>{{ 'adminConfigarationPage.commonFields.edit' | translate }}</th>
                <th>{{ 'adminConfigarationPage.commonFields.delete' | translate }}</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let item of businessEntityList | orderBy: key : reverse : caseInsensitive : comparator |  paginate: { itemsPerPage: pagenumber, currentPage: p };let i=index">
                    <td>{{((p-1)*itemsPerPage2)+i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.registrationCode}}</td>
                    <td>
                        <button class="btn btn-warning buttonStyle" data-toggle="modal" data-target="#addModal" (click)="selectUser(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger buttonStyle" data-toggle="modal" data-target="#deleteModal" (click)="selectUser(item)">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="form-group">
            <div class="col-md-4">
                Show
                <select (change)="pageChange($event.target.value)" style="border: none;">

                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
                Entries
            </div>
            <div class="col-md-2"></div>

            <div class=" col-md-6 text-right">
                <pagination-controls (pageChange)="customPageChange($event)"></pagination-controls>
            </div>
            <div class="clearfix"></div>
            </div>

        </div>
    <!-- </div> -->
    <!-- Add Modal-->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">X</button>
                        <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.addNew' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <h4><label for="Name">{{'adminConfigarationPage.commonFields.primaryDetails'
                                             | translate}}</label></h4>
                             </div>
                            <form class="form-horizontal" #businessEntityForm="ngForm" >
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="name">{{'adminConfigarationPage.businessEntity.businessName' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.businessEntity.businessName' | translate}}"
                                        name="name" #nameControl="ngModel" [(ngModel)]="business.name" required/>
                                    <div class="validation-error" *ngIf="nameControl.invalid && nameControl.touched">{{'adminConfigarationPage.commonFields.nameFieldRequired'
                                        | translate}}</div>

                                </div>
                                <div class="col-md-3">
                                    <label for="shortname">{{'adminConfigarationPage.businessEntity.shortName' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.businessEntity.shortName' | translate}}"
                                        name="shortname" #shortnameControl="ngModel" [(ngModel)]="business.shortname" required/>
                                    <div class="validation-error" *ngIf="shortnameControl.invalid && shortnameControl.touched">{{'adminConfigarationPage.commonFields.shortNameRequired'
                                        | translate}}</div>

                                </div>
                                <div class="col-md-3">
                                    <label for="registrationCode">{{'adminConfigarationPage.businessEntity.registrationNumber' | translate}}<span class="reqMark">*</span></label>
                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.businessEntity.registrationNumber' | translate}}"
                                        name="registrationCode" #registrationCode="ngModel" [(ngModel)]="business.registrationCode" required/>
                                    <div class="validation-error" *ngIf="registrationCode.invalid && registrationCode.touched">{{'adminConfigarationPage.commonFields.registerNumberRequired'
                                        | translate}}</div>

                                </div>
                                <div class="col-md-3">
                                    <label for="businessCatCode">{{'adminConfigarationPage.businessCategory.businessCategory1' | translate}}<span class="reqMark">*</span></label>
                                    <select class="form-control" name="businessCatCode" #businessCatCodeControl="ngModel"
                                        [(ngModel)]="business.businessCategoryCode" required>
                                        <option disabled hidden [value]="selectUndefinedOptionValue" placeholder="Business Category">{{
                                            'adminConfigarationPage.businessCategory.businessCategory1' | translate }}</option>
                                        <option *ngFor="let item of businessCategoryList" value={{item.businessCategoryName}}>{{item.businessCategoryName}}
                                        </option>
                                    </select>
                                    <div class="validation-error" *ngIf="businessCatCodeControl.invalid && businessCatCodeControl.touched">{{'adminConfigarationPage.businessEntity.selectBusiness'
                                        | translate}}</div>
                                </div>
                            </div>
                            </form>
                            <div class="wizard">
                                <div class="wizard-inner">
                                    <div class="connecting-line"></div>
                                    <ul class="nav nav-tabs" role="tablist">

                                        <li id="test1" role="presentation" class="active">
                                            <a class="disableTab" href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contact Details">
                                                <span class="round-tab">
                                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li id="test2" role="presentation">
                                            <a class="disableTab" href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Bank Details">
                                                <span class="round-tab">
                                                    <i class="glyphicon glyphicon-piggy-bank"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li id="test3" role="presentation">
                                            <a class="disableTab" href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Offers">
                                                <span class="round-tab">
                                                    <i class="glyphicon glyphicon-tag"></i>
                                                </span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                                <!-- <form role="form"> -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" role="tabpanel" id="step1">
                                            <div class="form-group">
                                            <h4><label for="contactDetails"></label>{{ 'adminConfigarationPage.commonFields.contactDetails' | translate }}</h4>
                                            </div>
                                            <form #contactDetails="ngForm" novalidate>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label for="contactPerson">{{'adminConfigarationPage.educationalInstitutesPage.contactPerson' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.contactPerson' | translate}}"
                                                        name="contactPerson" #contactPersonControl="ngModel" [(ngModel)]="business.contactPerson" required />
                                                        <div class="validation-error" *ngIf="contactPersonControl.invalid && contactPersonControl.touched">{{'adminConfigarationPage.commonFields.contactPersonRequired'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="designation">{{'adminConfigarationPage.educationalInstitutesPage.designation' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.designation' | translate}}"
                                                        name="designation" #designationControl="ngModel" [(ngModel)]="business.designation" required/>
                                                        <div class="validation-error" *ngIf="designationControl.invalid && designationControl.touched">{{'adminConfigarationPage.commonFields.DesignationRequired'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="address1">{{'adminConfigarationPage.educationalInstitutesPage.address1' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.address1' | translate}}"
                                                        name="address1" #address1Control="ngModel" [(ngModel)]="business.address1" required/>
                                                        <div class="validation-error" *ngIf="address1Control.invalid && address1Control.touched">{{'adminConfigarationPage.commonFields.Address1Required'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="address2">{{'adminConfigarationPage.educationalInstitutesPage.address2' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.address2' | translate}}"
                                                        name="address2" #address2Control="ngModel" [(ngModel)]="business.address2" required/>
                                                        <div class="validation-error" *ngIf="address2Control.invalid && address2Control.touched">{{'adminConfigarationPage.commonFields.Address2Required'
                                                            | translate}}</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                        <label for="country">{{'adminConfigarationPage.educationalInstitutesPage.country' | translate}}<span class="reqMark">*</span></label>
                                                    <select class="form-control" name="country" #countryControl="ngModel"
                                                        [(ngModel)]="business.country" (change)="onSelect($event.target.value)" required>
                                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.educationalInstitutesPage.country'
                                                                | translate}}</option>
                                                        <option *ngFor="let country of countries" value={{country.id}}>
                                                            {{country.name}}
                                                        </option>
                                                    </select>
                                                    <div class="validation-error" *ngIf="countryControl.invalid && countryControl.touched">{{'adminConfigarationPage.commonFields.countryRequired'
                                                        | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="state">{{'adminConfigarationPage.educationalInstitutesPage.state' | translate}}<span class="reqMark">*</span></label>
                                                    <select class="form-control" name=" state" #stateControl="ngModel"
                                                        [(ngModel)]="business.state" (change)="onStateSelect($event.target.value)" required>
                                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.educationalInstitutesPage.state'
                                                                | translate}} </option>
                                                        <option *ngFor="let state of states" value={{state.id}}>
                                                            {{state.name}}
                                                        </option>
                                                    </select>
                                                    <div class="validation-error" *ngIf="stateControl.invalid && stateControl.touched">{{'adminConfigarationPage.commonFields.stateRequired'
                                                        | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="city">{{'adminConfigarationPage.educationalInstitutesPage.city' | translate}}<span class="reqMark">*</span></label>
                                                    <select class="form-control" name="city" #cityControl="ngModel"
                                                        [(ngModel)]="business.city" required>
                                                        <option disabled hidden [value]="selectUndefinedOptionValue">{{'adminConfigarationPage.educationalInstitutesPage.city'
                                                                | translate}}</option>
                                                        <option *ngFor="let city of cities" value={{city.id}}>
                                                            {{city.name}}
                                                        </option>
                                                    </select>
                                                    <div class="validation-error" *ngIf="cityControl.invalid && cityControl.touched">{{'adminConfigarationPage.commonFields.cityRequired'
                                                        | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="pincode">{{'adminConfigarationPage.educationalInstitutesPage.pinCode' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.pinCode' | translate}}"
                                                        name="pincode" #pincodeControl="ngModel" [(ngModel)]="business.pincode" required/>
                                                        <div class="validation-error" *ngIf="pincodeControl.invalid && pincodeControl.touched">{{'adminConfigarationPage.commonFields.PincodeRequired'
                                                            | translate}}</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                        <label for="mobile">{{'adminConfigarationPage.educationalInstitutesPage.mobile' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.mobile' | translate}}"
                                                        name="mobile" #mobileControl="ngModel" [(ngModel)]="business.mobile"  pattern="\d*" minlength=10 maxlength=15  />
                                                        <div class="validation-error" *ngIf="mobileControl.invalid && mobileControl.touched">
                                                            <div class="validation-error" *ngIf="mobileControl.errors.required ">
                                                                {{'adminConfigarationPage.commonFields.MobileRequired'
                                                                | translate}}
                                                            </div>
                                                            <div class="validation-error" *ngIf="mobileControl.errors.minlength">
                                                                {{'adminConfigarationPage.commonFields.mobileLength' |
                                                                translate}}
                                                            </div>
                                                            <div class="validation-error" *ngIf="mobileControl.errors.pattern">
                                                                {{'adminConfigarationPage.commonFields.invalidMobileMessage'
                                                                | translate}}
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="phone">{{'adminConfigarationPage.educationalInstitutesPage.phone' | translate}}</label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.phone' | translate}}"
                                                        name="phone" #phone="ngModel" [(ngModel)]="business.phone" />
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="fax">{{'adminConfigarationPage.educationalInstitutesPage.fax' | translate}}</label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.fax' | translate}}"
                                                        name="fax" #fax="ngModel" [(ngModel)]="business.fax" />
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-lg-12 text-right">
                                                    <button class="btn btn-primary btnNext" type="button"  [disabled]="contactDetails.invalid"
                                                    (click)="activeChange('first')" data-toggle="pill" href="#step2" >Continue</button>
                                                       
                                                </div>
                                        </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel" id="step2">
                                            <div class="form-group">
                                            <h4><label for="bankDetails"></label>{{ 'adminConfigarationPage.commonFields.bankDetails' | translate }}</h4>
                                            </div>
                                            <form #bankDetails="ngForm">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                        <label for="accountHolderName">{{'adminConfigarationPage.educationalInstitutesPage.accountHolderName' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.accountHolderName' | translate}}"
                                                        name="accountHolderName" #accountHolderNameControl="ngModel"
                                                        [(ngModel)]="business.accountHolderName" required />
                                                        <div class="validation-error" *ngIf="accountHolderNameControl.invalid && accountHolderNameControl.touched">{{'adminConfigarationPage.commonFields.accountHolderName'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="accountNumber">{{'adminConfigarationPage.educationalInstitutesPage.accountNumber' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.accountNumber' | translate}}"
                                                        name="accountNumber" #accountNumberControl="ngModel" [(ngModel)]="business.accountNumber" pattern="\d*" required/>
                                                        <div class="validation-error" *ngIf="accountNumberControl.invalid && accountNumberControl.touched">{{'adminConfigarationPage.commonFields.accountNumber'
                                                            | translate}}
                                                            <div class="validation-error" *ngIf="accountNumberControl.errors.pattern">
                                                                {{'adminConfigarationPage.commonFields.invalidAccNumberMessage'
                                                                | translate}}
                                                            </div>
                                                        </div>
                                                        
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="ifscCode">{{'adminConfigarationPage.educationalInstitutesPage.ifscCode' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.ifscCode' | translate}}"
                                                        name="ifscCode" #ifscCodeControl="ngModel" [(ngModel)]="business.ifscCode" required />
                                                        <div class="validation-error" *ngIf="ifscCodeControl.invalid && ifscCodeControl.touched">{{'adminConfigarationPage.commonFields.ifscCode'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="accountType">{{'adminConfigarationPage.educationalInstitutesPage.accountType' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.accountType' | translate}}"
                                                        name="accountType" #accountTypeControl="ngModel" [(ngModel)]="business.accountType" required/>
                                                        <div class="validation-error" *ngIf="accountTypeControl.invalid && accountTypeControl.touched">{{'adminConfigarationPage.commonFields.accountType'
                                                            | translate}}</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                        <label for="bankName">{{'adminConfigarationPage.educationalInstitutesPage.bankName' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.bankName' | translate}}"
                                                        name="bankName" #bankNameControl="ngModel" [(ngModel)]="business.bankName" required />
                                                        <div class="validation-error" *ngIf="bankNameControl.invalid && bankNameControl.touched">{{'adminConfigarationPage.commonFields.bankName'
                                                            | translate}}</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <label for="branch">{{'adminConfigarationPage.educationalInstitutesPage.branch' | translate}}<span class="reqMark">*</span></label>
                                                    <input class="form-control" type="text" placeholder="{{'adminConfigarationPage.educationalInstitutesPage.branch' | translate}}"
                                                        name="bankBranch" #bankBranchControl="ngModel" [(ngModel)]="business.bankBranch" required />
                                                        <div class="validation-error" *ngIf="bankBranchControl.invalid && bankBranchControl.touched">{{'adminConfigarationPage.commonFields.branchRequired'
                                                            | translate}}</div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-lg-12 text-right">
                                                    <button type="button" class="btn btn-default btnPrevious preConButton" data-toggle="pill"
                                                        href="#step1" (click)="activeChangePrevious('second')">Previous</button>
                                                    <button type="button" class="btn btn-primary btnNext" [disabled]="bankDetails.invalid"
                                                        data-toggle="pill" href="#step3"  (click)="activeChange('second')">Continue</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" role="tabpanel" id="step3">
                                            <div class="form-group">
                                            <h4><label for="selectOffers"></label>{{'adminConfigarationPage.businessEntity.selectOffers' | translate}}<span class="reqMark">*</span>
                                            </h4>
                                            </div>
                                            <form #selectOffers="ngForm">
                                                <div class="col-sm-12">

                                                    <div class="col-sm-6">
                                                        <h4><label for="selectOffers"></label>{{'adminConfigarationPage.businessEntity.privilegeName' | translate}}<span class="reqMark">*</span></h4>
                                                      
                                                        <div class="boxes" *ngFor="let item of privilegeList">
                                                            <input type="checkbox" id="{{item.privilegeId}}" name="privilegeList[]" (change)="privilegeCategoryCheckboxSelect(item.privilegeId)"
                                                                value={{item.privilegeId}} checked={{item.isSelected}}>
                                                            <label for="{{item.privilegeId}}">{{item.privilegeName}}</label>
                                                        </div>
                                                        
                                                    </div>
        
                                                    <div class="col-sm-6">
                                                        <h4>{{'adminConfigarationPage.businessEntity.services' | translate}}<span class="reqMark">*</span></h4>
                                                      
                                                            <div class="boxes" *ngFor="let item of attributeListLocal">
                                                                <input type="checkbox" id="{{item.attributeId}}" name="attribute[]" value={{item.attributeId}} checked={{item.isSelected}} (change)="servicesCheckboxSelect(item)" required/>
                                                                <label for="{{item.attributeId}}">{{item.attributeName}}</label>
                                                            </div>
                                                        </div>
        
                                                        </div>
                                            </form>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                <!-- </form> -->
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal" (click)="saveBusinessEntity(business)"
                        [disabled]="businessEntityForm.invalid || contactDetails.invalid || bankDetails.invalid || checkboxActivated != true  ">{{
                            'adminConfigarationPage.commonFields.save' | translate }}</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">{{
                            'adminConfigarationPage.commonFields.close' | translate }}</button>
                    </div>
                
            </div>

        </div>
    </div>

    

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.delete' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{business.name}}</span>????</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deleteBusinessEntity(business.businessId)"
                        data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.yes' | translate }}</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.no' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>