<div class="mycontent">
    <!-- <div class="container"> -->

    <div class="col-md-12">
        <hr />
        <h3 class="text-center">{{'adminConfigarationPage.plans.plans' | translate}}</h3>
        <hr />
    </div>
    <!-- <div class="container"> -->
    <div class="col-md-12">
        <div class="rcorners2">
            <form class="form-horizontal" #planForm="ngForm" (ngSubmit)="searchPlan(planForm)">
                <div class="col-md-3">
                    <label for="planName">{{'adminConfigarationPage.plans.planName' | translate}}</label>
                    <select class="form-control" name="planName" #planName="ngModel" [(ngModel)]="plan.planName">
                        <option *ngFor="let item of planNameList" value={{item.planName}}> {{item.planName}} </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="planPrice">{{'adminConfigarationPage.plans.planPrice' | translate}}</label>
                    <input class="form-control" type="number" placeholder="{{'adminConfigarationPage.plans.planPrice' | translate}}"
                        name="planPrice" #planPriceControl="ngModel" [(ngModel)]="plan.planPrice" />
                </div>
                <div class="col-md-3">
                    <label for="planMembership">{{
                            'adminConfigarationPage.plans.planMembership' | translate }}</label>
                    <select class="form-control" name="planMembership" #planMembership="ngModel" [(ngModel)]="plan.planMembership">
                        <option *ngFor="let item of membershipList" value={{item.memberName}}> {{item.memberName}}
                        </option>
                    </select>
                </div>
                 <div class="col-md-3">
                        <label class="control-label col-sm-2" for="startDate">StartDate</label>
                        <input class="form-control" type="date" placeholder="{{'adminConfigarationPage.plans.startDate' | translate}}" name="startDate"
                            #startDateTimeControl="ngModel" [(ngModel)]="plan.startDate" />
                        <!-- <my-date-picker [options]="options" name="startDateTime" #startDateTime="ngModel" [(ngModel)]="plan.startDateTime" aria-required="true"></my-date-picker> -->
                <!-- <ng-datepicker [options]="options" name="startDateTime" #startDateTime="ngModel" [(ngModel)]="plan.startDateTime" aria-required="true"></ng-datepicker> -->
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding" data-toggle="modal"
                        data-target="#addModal" type="button" (click)="addNew()">{{'adminConfigarationPage.commonFields.addNew'
                        | translate}}</button>
                    <button class="btn btn-warning btn-outline pull-right cssButtonPadding" type="button" (click)="searchClear()">{{'adminConfigarationPage.commonFields.clear'
                        | translate}}</button>
                    <button class="btn btn-primary btn-outline pull-right cssButtonPadding" type="submit">{{'adminConfigarationPage.commonFields.search'
                        | translate}}</button>
                </div>
            </form>
        </div>
        <!-- <div class="row"> -->

        <!-- <button class="btn btn-info pull-right" data-toggle="modal" data-target="#addModal" (click)="addNew()">{{ 'adminConfigarationPage.commonFields.addNew' | translate }}</button> -->
        <div class="alert alert-warning fade in myAlert" *ngIf="alertMassege">
            <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
            <h4>{{alertMassege}}</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered myTable">
                <thead>
                    <tr class="text-center">
                        <th>{{'adminConfigarationPage.commonFields.index' | translate}}</th>
                        <th [class.active]="key === 'planName'" (click)=" sort('planName')">{{'adminConfigarationPage.plans.planName'
                            | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th [class.active]="key === 'planPrice'" (click)=" sort('planPrice')">{{'adminConfigarationPage.plans.planPrice'
                            | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th [class.active]="key === 'planMembership'" (click)=" sort('planMembership')">{{'adminConfigarationPage.plans.planMembership'
                            | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th [class.active]="key === 'startDateTime'" (click)=" sort('startDateTime')">{{'adminConfigarationPage.plans.startDate'
                            | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th [class.active]="key === 'endDateTime'" (click)=" sort('endDateTime')">{{'adminConfigarationPage.plans.endDate'
                            | translate}} <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th>{{'adminConfigarationPage.commonFields.edit' | translate }}</th>
                        <!-- <th>{{ 'adminConfigarationPage.commonFields.delete' | translate }}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of planList | orderBy: key : reverse : caseInsensitive : comparator |  paginate: { itemsPerPage: pagenumber, currentPage: p };let i=index">
                        <td>{{((p-1)*itemsPerPage2)+i+1}}</td>
                        <td>{{item.planName}}</td>
                        <td>{{item.planPrice}}</td>
                        <td>{{item.planMembership}} </td>
                        <td>{{item.startDateTime | date:'fullDate'}}</td>
                        <td>{{item.endDateTime | date:'fullDate'}}</td>
                        <!-- <td>
                              <button class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="selectUser(item)">Edit</button>
                          </td>
                          <td>
                              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="selectUser(item)">Delete</button>
                          </td> -->
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#addModal" (click)="selectUser(item,item.endDateTime)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:15px"></i>
                            </button>
                        </td>
                        <!-- <td>
                              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="selectUser(item)">
                                  <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                              </button>
                          </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Show
                <select (change)="pageChange($event.target.value)" style="border: none;">

                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
                Entries
            </div>
            <div class="col-md-2"></div>

            <div class=" col-md-6 text-right">
                <pagination-controls (pageChange)="customPageChange($event)"></pagination-controls>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="form-group">
        <div class="col-md-4">
            Show
            <select (change)="pageChange($event.target.value)" style="border: none;">

                <option>5</option>
                <option>10</option>
                <option>15</option>
            </select>
            Entries
        </div>
        <div class="col-md-2"></div>

        <div class=" col-md-6 text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="clearfix"></div>
    </div> -->
    <!-- <div class="container footer">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <p>Never, Never, Never Give Up <a href="https://m4mohaiman.github.io" target="_blank">Mohaiman</a>, 2016</p>
                  </div>
              </div>
          </div> -->
    <!-- Add Modal-->
    <!-- <div class="modal fade" id="addModal" role="dialog"></div> -->
    <div *ngIf="enableaddpopup" class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form class="form-horizontal" #planForm="ngForm" (ngSubmit)="savePlan(planForm)">
                    <div>
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">X</button>
                            <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.addNew' | translate }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Full name">{{'adminConfigarationPage.plans.planName'
                                        | translate}}
                                        <span class="reqMark">*</span>
                                    </label>
                                    <div class="col-sm-3">
                                        <!-- <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterName' | translate }}"
                                            name="planName" #planNameControl="ngModel" [(ngModel)]="plan.planName" required
                                        />
                                        <div class="validation-error" *ngIf="planNameControl.invalid && planNameControl.touched">{{'adminConfigarationPage.commonFields.nameFieldRequired' | translate}}</div> -->
                                        <select class="form-control" name="planName" #planName="ngModel" [(ngModel)]="plan.planName">
                                            <option *ngFor="let item of planNameList" value={{item.planName}}>
                                                {{item.planName}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="Enter Price">{{'adminConfigarationPage.plans.planPrice'
                                        | translate}}
                                        <span class="reqMark">*</span>
                                    </label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" placeholder="{{ 'adminConfigarationPage.commonFields.enterPrice' | translate }}"
                                            name="planPrice" #planPriceControl="ngModel" [(ngModel)]="plan.planPrice"
                                            required />
                                        <div class="validation-error" *ngIf="planPriceControl.invalid && planPriceControl.touched">{{'adminConfigarationPage.commonFields.priceFieldRequired'
                                            | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="full name">{{
                                        'adminConfigarationPage.plans.planMembership' | translate }}
                                        <span class="reqMark">*</span>
                                    </label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="planMembership" #planMembership="ngModel"
                                            [(ngModel)]="plan.planMembership">
                                            <option *ngFor="let item of membershipList" value={{item.memberName}}>
                                                {{item.memberName}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Date">{{'adminConfigarationPage.plans.startDate'
                                        | translate}}
                                        <span class="reqMark">*</span>
                                    </label>
                                    <div class="col-sm-3">
                                        <ng-datepicker [options]="options" name="startDateTime" #startDateTime="ngModel"
                                            [(ngModel)]="plan.startDateTime" aria-required="true"></ng-datepicker>
                                        <!-- <div class="validation-error" *ngIf="startDateTime.invalid && startDateTime.touched">{{'adminConfigarationPage.commonFields.priceFieldRequired' | translate}}</div> -->
                                        <!-- <input type="date" id="dateofbirth" name="startDateTime" #startDateTime="ngModel" [(ngModel)]="plan.startDateTime"> -->
                                        <!-- <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterDate' | translate }}" name="startDate"
                                        #startDateControl="ngModel" [(ngModel)]="plan.startDate" required />
                                        <div class="validation-error" *ngIf="startDateControl.invalid && startDateControl.touched">{{'adminConfigarationPage.commonFields.datetFieldRequired' | translate}}</div> -->
                                        <!-- <my-date-picker [options]="options" name="startDateTime" #startDateTime="ngModel" [(ngModel)]="plan.startDateTime" aria-required="true"></my-date-picker> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" [disabled]="planForm.invalid" (click)="savePlans(plan)"
                                data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.save' | translate }}</button>
                            <button class="btn btn-default" type="button" data-dismiss="modal">{{
                                'adminConfigarationPage.commonFields.close' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.delete' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{plan.planName}}</span>????</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deletePlan(plan.planId)" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.yes' | translate }}</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.no' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- </div> -->
<!-- <style>
:host >>> .ngx-datepicker-input {
    width: 100% !important;
}
</style> -->