.myTable,.table th{text-align:center}
@import url(https://fonts.googleapis.com/css?family=Exo);
.mycontent{font-family:Exo,sans-serif}
.myTable{margin-top:50px}
.myAlert{margin:50px 0 0}
.alert h4{margin:0}
span{color:red}
.footer{padding-top:235px}

.validation-error
{
    color: red;
    text-align: center;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';

@import '~angular-material-datepicker/src/datepicker/calendar.component.scss';


/* new datepicker css start */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  :host >>> .ngx-datepicker-input {
    width: 100% !important;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #cccccc;
}

.cssButtonPadding
{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.rcorners2 {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding:15px; 
}
  
  th>span{
    color: black;
  }

  /* .hasDatepicker::after {
    position: relative;
    z-index: inherit !important;
} */