<div class="mycontent">
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
    <div class="col-md-12">
        <hr />
        <h3 class="text-center">{{ 'adminConfigarationPage.plannamePage.planName' | translate }}</h3>
        <hr />
    </div>
    <!-- </div> -->
    <div class="col-md-12">
    <div class="rcorners2">
            <form class="form-horizontal" #planNameForm="ngForm" (ngSubmit)="searchPlanName(planNameForm)">
                <div class="col-md-3">
                    <label for="planName">{{'adminConfigarationPage.plannamePage.planName' | translate }}</label>
                    <input class="form-control" type="text" placeholder="PlanName" name="planName"
                                        #planNameControl="ngModel" [(ngModel)]="planName.planName" required />
                </div>
                
                <div class="col-md-12">
                    <button class="btn btn-info btn-outline pull-right cssButtonPadding"  type="button"
                        (click)="addNew()">{{'adminConfigarationPage.commonFields.addNew' | translate}}</button>
                    <button class="btn btn-warning btn-outline pull-right cssButtonPadding" type="button" (click)="searchClear()">{{'adminConfigarationPage.commonFields.clear' | translate}}</button>
                    <button class="btn btn-primary btn-outline pull-right cssButtonPadding" type="submit">{{'adminConfigarationPage.commonFields.search' | translate}}</button>
                </div>
            </form>
            </div>
        </div>
     <!-- </div> -->
  
  <!-- <div class="container"> -->
      <!-- <div class="row">  -->
    
        <!-- <input type="search" [(ngModel)]="searchText" placeholder="Search">
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#addModal" (click)="addNew()">{{
            'adminConfigarationPage.commonFields.addNew' | translate }}
        </button> -->
        <div class="col-md-12">
            <div class="alert alert-warning fade in myAlert" *ngIf="alertMassege">
                <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
                <h4 style="text-align: center">{{alertMassege}}</h4>
            </div>
            <div *ngIf="isSearchClicked">
            <div *ngIf="!isListContainsData">
                <h3 class="text-center noRecord">{{ 'adminConfigarationPage.commonFields.noRecordFound' | translate }}</h3>
            </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="isListContainsData">
        <div class="table-responsive">
        <table class="table table-bordered myTable table-condensed table-striped">
            <thead>
            <tr class="text-center">
                <th>{{'adminConfigarationPage.commonFields.index' | translate}}</th>
                <th [class.active]="key === 'planName'" (click)=" sort('planName')">{{
                    'adminConfigarationPage.plannamePage.planName' | translate }}<span [hidden]="reverse">▼</span><span
                        [hidden]="!reverse">▲</span></th>
                <th>{{ 'adminConfigarationPage.commonFields.edit' | translate }}</th>
                <th>{{ 'adminConfigarationPage.commonFields.delete' | translate }}</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let item of planNameList   | filterPlanName : searchText | orderBy: key : reverse : caseInsensitive : comparator |  paginate: { itemsPerPage: pagenumber, currentPage: p };let i=index">
                    <!-- <td>{{item.membership_id}}</td> -->
                    <td>{{((p-1)*itemsPerPage2)+i+1}}</td>
                    <td>{{item.planName}}</td>
                    <td>
                        <button class="btn btn-warning buttonStyle" data-toggle="modal" data-target="#addModal" (click)="selectUser(item)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger buttonStyle" data-toggle="modal" data-target="#deleteModal" (click)="selectUser(item)">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:15px"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="form-group">
            <div class="col-md-4">
                Show
                <select (change)="pageChange($event.target.value)" style="border: none;">

                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
                Entries
            </div>
            <div class="col-md-2"></div>

            <div class=" col-md-6 text-right">
                <pagination-controls (pageChange)="customPageChange($event)"></pagination-controls>
            </div>
            <div class="clearfix"></div>
            </div>

        </div>
    <!-- </div> -->
    <!-- </div>
  </div> -->

    <!-- Add Modal-->
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form class="form-horizontal" #planNameForm="ngForm" (ngSubmit)="savePlanName(planNameForm)">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">X</button>
                        <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.addNewplan' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Name">{{
                                    'adminConfigarationPage.plannamePage.planName' | translate }}
                                    <span class="reqMark">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <input class="form-control" type="text" placeholder="Name" name="planName"
                                        #planNameControl="ngModel" [(ngModel)]="planName.planName" required />
                                    <div class="validation-error" *ngIf="planNameControl.invalid && planNameControl.touched">{{'adminConfigarationPage.commonFields.nameFieldRequired'
                                        | translate}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" data-dismiss="modal" [disabled]="planNameForm.invalid"
                            (click)="savePlanName(planName)">{{ 'adminConfigarationPage.commonFields.save' | translate
                            }}</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">{{
                            'adminConfigarationPage.commonFields.close' | translate }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">X</button>
                    <h4 class="modal-title">{{ 'adminConfigarationPage.commonFields.deleteplan' | translate }}</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure to delete
                        <span>{{planName.planName}}</span>????</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="deletePlanName(planName.plannameId)"
                        data-dismiss="modal">{{ 'adminConfigarationPage.commonFields.yes' | translate }}</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">{{
                        'adminConfigarationPage.commonFields.no' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>