<div class="mycontent">
  <div class="col-md-12">
    <hr />
    <h3 class="text-center">{{ 'adminConfigarationPage.emailTemplatePage.emailTemplates' | translate }}</h3>
    <hr />
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      <label for="categoryName">{{ 'adminConfigarationPage.emailTemplatePage.selectEmailTemplate' | translate }}</label>
      <ngx-select-dropdown #emailTemplateName (change)="changeValue($event)" [multiple]="false" [(value)]="selectedValue" [config]="config"
        [options]="selectedOptions"></ngx-select-dropdown>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <div id="studentCredentials" class="col-md-12" style="margin-top: 20px">
    <div style="text-align: right">
      <button class="button" type="button" (click)="sendEmailTemplateCodeToServer('StudentCredentials','froalaEditorStudentCredentials')">SAVE</button>
    </div>

    <div id="froalaEditorStudentCredentials" [froalaEditor]>
        <p><img alt="NoFlay logo" class="fr-fic fr-fil fr-dii" src="./assets/img/noflaylogo1.jpg" style="width: 66px;"></p>

        <p><img alt="NoFlay" class="fr-fic fr-fil fr-dib" src="./assets/img/noflayTitle.png" style="width: 74px;"></p>
        
        <p><span style="font-size: 14px;">LIVING IN WELLNESS - BALANCED LIFE</span></p>
        
        <p>Dear [studentName],</p>
        
        <p>You are payment done successfully ,</p>
        
        <p>please visit this link to login &nbsp; <a class="fr-strong" href="http://192.168.1.63:4200/studentlogin" rel="noopener noreferrer" target="_blank">http://192.168.1.63:4200/studentlogin</a></p>
        
        <p>username : [username]</p>
        
        <p>pasdsword : [password]</p>
        
        <p>
          <br>
        </p>
        
        <p><u>Regards;</u></p>
        
        <p>Admin&nbsp;</p>
        
        <p>[Address line 1]</p>
        
        <p>[Address line 2]</p>
        
        <p>[City]</p>
        
        <p>[State]</p>
        
        <p>[Tel No:]</p>
        
        <p>
          <br>
        </p>
        
        <p>PS: This is a system generated email and pl do not reply for any quires, you an email to ...........[NoFlay mailId]</p>
        
        <p>
          <br>
        </p>
        


    </div>
  </div>

  <div id="studentPayment" class="col-md-12" style="margin-top: 20px">
    <div style="text-align: right">
      <button class="button" type="button" (click)="sendEmailTemplateCodeToServer('StudentPayment','froalaEditorStudentPayment')">SAVE</button>
    </div>
    <div id="froalaEditorStudentPayment" [froalaEditor]>
        <p><img alt="NoFlay logo" class="fr-fic fr-fil fr-dii" src="./assets/img/noflaylogo1.jpg" style="width: 66px;"></p>

        <p><img alt="NoFlay" class="fr-fic fr-fil fr-dib" src="./assets/img/noflayTitle.png" style="width: 74px;"></p>
        
        <p><span style="font-size: 14px;">LIVING IN WELLNESS - BALANCED LIFE</span></p>
        
        <p>Dear [studentName],</p>
        
        <p>Thanks for interest and registering with NoFlay for Wellness Membership.</p>
        
        <p>Your Wellness membership application has been received and we observe that you are enrolled with [collegeName] College and you have subscribed for [planName] Plan and for [membershipType] membership.</p>
        
        <p>Your membership subscription amount for the said [planName] plan and [membershipType] subscription type is Rs. [amount]/- per [membershipType].</p>
        
        <p>Please click the link below for making an online payment using your Credit / Debit card or Net Banking.</p>
        
        <p><a href="http://192.168.1.63:4200/payment/">http://192.168.1.63:4200/payment/</a></p>
        
        <p>You will also find an option to change your subscription plan in case you wish to do so or even the subscription type.</p>
        
        <p>Alternatively, you can make payment of the subscription amount at the NoFlay admin office address provided below and quote the ref no ............(the ref no we have provided for the payment):</p>
        
        <p>
            <br>
          </p>
        
          <p><u>Regards:</u></p>
        
        <p>[Address line 1]</p>
        
        <p>[Address line 2]</p>
        
        <p>[City]</p>
        
        <p>[State]</p>
        
        <p>[Tel No:]</p>
        
        <p>Thanks for your interest in NoFlay, once payment is made, your Membership is active and you will receive an email for your login credentials for the NoFlay Wellness Membership Portal.</p>
        
        <p>Regards;</p>
        
        <p>[Admin]</p>
        
        <p>PS: This is a system generated email and pl do not reply for any quires, you an email to ...........( email of NoFlay to be provided part of the Company registration.)</p>        
    </div>
  </div>

  <div id="passwordReset" class="col-md-12" style="margin-top: 20px">
    <div style="text-align: right">
      <button class="button" type="button" (click)="sendEmailTemplateCodeToServer('PasswordReset','froalaEditorPasswordReset')">SAVE</button>
    </div>
    <div id="froalaEditorPasswordReset" [froalaEditor]>
        <p><img alt="NoFlay logo" class="fr-fic fr-fil fr-dii" src="./assets/img/noflaylogo1.jpg" style="width: 66px;"></p>

        <p><img alt="NoFlay" class="fr-fic fr-fil fr-dib" src="./assets/img/noflayTitle.png" style="width: 74px;"></p>
        
        <p>LIVING IN WELLNESS - BALANCED LIFE</p>
        <div style="margin: 10px 5%;">
          <div>
        
            <h3>Hi [name],</h3>
        
            <p>You recently requested to reset your password for your NoFlay account. Use the button below to reset it.</p><a style="background-color: #348eda;
                  border: solid #348eda;
                  border-radius: 0;
                  border-width: 10px 20px;
                  color: #fff;
                  cursor: pointer;
                  display: inline-block;
                  font-weight: bold;
                  line-height: 2;
                  text-align: center;
                  text-decoration: none;">Reset your password</a>
        
            <p><em>This password reset is only valid for the next 24 hours.</em></p>
        
            <p>For security, this request was received from a
              <br>If you did not request a password reset, please ignore this email and let us know. Your password won&#39;t change until you create a new password.</p>
        
            <p>Thanks,
              <br>The NoFlay Team.</p>
          </div>
          <hr>
        
          <p>If you&#39;re having trouble with the button above, copy and paste the URL below into your web browser</p>
        
          <p><a href="http://192.168.1.63:4200/passwordReset" rel="noopener noreferrer" target="_blank">http://192.168.1.63:4200/passwordReset</a></p>
        
          <p>
            <br>
          </p>
        
          <p><u>Regards:</u></p>
        
          <p>Admin&nbsp;</p>
        
          <p>[Address line 1]</p>
        
          <p>[Address line 2]</p>
        
          <p>[City]</p>
        
          <p>[State]</p>
        
          <p>[Tel No:]</p>
        
          <p>
            <br>
          </p>
        
          <p>PS: This is a system generated email and pl do not reply for any quires, you an email to ...........[NoFlay mailId]</p>
        
          <p>
            <br>
          </p>
        </div>
        
      </div>
  </div>

  <div id="hospitalCredentials" class="col-md-12" style="margin-top: 20px">
    <div style="text-align: right">
      <button class="button" type="button" (click)="sendEmailTemplateCodeToServer('BusinessCredentials','froalaEditorHospitalCredentials')">SAVE</button>
    </div>

    <div id="froalaEditorHospitalCredentials" [froalaEditor]>
      <p>
        <img src="./assets/img/noflaylogo1.jpg" style="width: 66px;" class="fr-fic fr-fil fr-dii" alt="NoFlay logo">
      </p>

      <p>
        <img src="./assets/img/noflayTitle.png" style="width: 74px;" class="fr-fic fr-fil fr-dib" alt="NoFlay">
      </p>

      <p>LIVING IN WELLNESS - BALANCED LIFE</p>

      <p>
        <br>
      </p>

      <p style="margin-left: 20px;">Dear [businessEntitylName],</p>

      <p style="margin-left: 20px;">You are request for registration done successfully ,</p>

      <p style="margin-left: 20px;">please visit this link to login &nbsp;
        <a class="fr-strong" href="http://192.168.1.63:4200/businessLogin" rel="noopener noreferrer" target="_blank">http://192.168.1.63:4200/businessLogin</a>
      </p>

      <p style="margin-left: 20px;">username : [username]</p>

      <p style="margin-left: 20px;">pasdsword : [password]</p>

      <p style="margin-left: 20px;">
        <br>
      </p>

      <p>
          <br>
        </p>
      
        <p><u>Regards:</u></p>
      
        <p>Admin&nbsp;</p>
      
        <p>[Address line 1]</p>
      
        <p>[Address line 2]</p>
      
        <p>[City]</p>
        <p>[State]</p>
        <p>[Tel No:]</p>
      
        <p>
          <br>
        </p>

      <p style="margin-left: 20px;">PS: This is a system generated email and pl do not reply for any quires, you an email to ..........[NoFlay mailId]</p>

      <p>
        <br>
      </p>


    </div>
  </div>

  <div id="studentRenewal" class="col-md-12" style="margin-top: 20px">
    <div style="text-align: right">
      <button class="button" type="button" (click)="sendEmailTemplateCodeToServer('StudentRenewal','froalaEditorStudentRenewal')">SAVE</button>
    </div>

    <div id="froalaEditorStudentRenewal" [froalaEditor]>
      <p>
        <img alt="NoFlay logo" class="fr-fic fr-fil fr-dib" src="./assets/img/noflaylogo1.jpg" style="width: 66px;">
      </p>

      <p>
        <img alt="NoFlay" class="fr-fic fr-dib" src="./assets/img/noflayTitle.png" style="width: 74px;">
      </p>

      <p>LIVING IN WELLNESS - BALANCED LIFE</p>

      <p>Dear [name],</p>

      <p>Greetings from NoFlay.</p>

      <p>We thank you for your patronage of NoFlay Wellness membership.</p>

      <p>We observe from our records that your [subscriptionType] [planName] Plan Membership subscription will expire on [EndDate].</p>

      <p>We request your renewal of membership for the next year and the renewal fee for the [subscriptionType] [planName] Subscription
        is Rs.[amount]/-</p>

      <p>Use the link below for making payment and for us to automatically renew your membership.</p>

      <p>
        <a class="fr-strong" href="http://192.168.1.63:4200/studentRenewal" rel="noopener noreferrer" target="_blank">http://192.168.1.63:4200/studentRenewal</a>
      </p>

      <p>In case us want to change the Membership Plan or Subscription Type pl following the instructions in the above link.</p>

      <p>You can also call our Admin office for renewal against cash payment.</p>

      <p>We look forward to your continued support to NoFlay and request you to renew the subscription immediately for un-interrupted
        service and enjoy the privileges of the membership.</p>

        <p>
            <br>
          </p>
        
          <p><u>Regards:</u></p>
        
          <p>Admin&nbsp;</p>
        
          <p>[Address line 1]</p>
        
          <p>[Address line 2]</p>
        
          <p>[City]</p>
          <p>[State]</p>
          <p>[Tel No:]</p>
        
          <p>
            <br>
          </p>
  
        <p style="margin-left: 20px;">PS: This is a system generated email and pl do not reply for any quires, you an email to ..........[NoFlay mailId]</p>
  
        <p>
          <br>
        </p>


    </div>
  </div>

</div>