<div class="mycontent" style="margin-top: 40px">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <button class="navButtonStyle" type="button" (click)="ChangePage('smtp')">Smtp Details</button>
        <button class="navButtonStyle" type="button" (click)="ChangePage('corn')">Corn Settings</button>
      </div>
    </div>
  </div>
  <div id="smtpPage">
    <app-smtp-details></app-smtp-details>
  </div>
  <div id="cronSettingsPage">
    <app-corn-job-settings></app-corn-job-settings>
  </div>
</div>