<div class="mycontent">

  <div class="col-md-12">
    <hr />
    <h3 class="text-center">Smtp Details</h3>
    <hr />
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <form class="form-horizontal" #courseCatagoryForm="ngForm" (ngSubmit)="searchCourseCategory(courseCatagoryForm)">
          <div class="col-md-3">
            <label for="host">Smtp Host</label>
            <input class="form-control" type="text" name="host" #host="ngModel" [(ngModel)]="smtp.host" />
          </div>
          <div class="col-md-3">
            <label for="username">Smtp Username</label>
            <input class="form-control" type="text" name="username" #username="ngModel" [(ngModel)]="smtp.username" />
          </div>
          <div class="col-md-3">
            <label for="password">Smtp Password</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="password"
              #password="ngModel" [(ngModel)]="smtp.password" />
          </div>
          <div class="col-md-3">
            <label for="defaultFromEmail">default From Email</label>
            <input class="form-control" type="text" name="defaultFromEmail" #defaultFromEmail="ngModel" [(ngModel)]="smtp .defaultFromEmail"
            />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="port">Smtp Port</label>
            <input class="form-control" type="text" name="port" #port="ngModel" [(ngModel)]="smtp.port" />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="auth">Smtp Auth</label>
            <input class="form-control" type="text" name="auth" #auth="ngModel" [(ngModel)]="smtp.auth" />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="connectionTimeout">Smtp Connection Timeout</label>
            <input class="form-control" type="text" name="connectionTimeout" #connectionTimeout="ngModel" [(ngModel)]="smtp.connectionTimeout"
            />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="timeout">Smtp Timeout</label>
            <input class="form-control" type="text" name="timeout" #timeout="ngModel" [(ngModel)]="smtp.timeout" />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="writeTimeout">Smtp Write Timeout</label>
            <input class="form-control" type="text" name="writeTimeout" #writeTimeout="ngModel" [(ngModel)]="smtp.writeTimeout" />
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary btn-outline pull-right" type="button" (click)="addNew()">Save</button>
           
          </div>
          <div class="clearfix"></div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="mycontent" style="margin-top: 22px">
  <nav class="navbar navbar-default" style="margin: 10px">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/initialConfiguration">Smtp Details</a>
        </li>
        <li>
          <a href="/initialConfiguration">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-12">
      <div class="rcorners2">
        <form class="form-horizontal" #businessCategoryForm="ngForm" (ngSubmit)="searchBusinessCategory(businessCategoryForm)">
          <div class="col-md-3">
            <label for="nabusinessCategoryNameme">Smtp Host</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterName' | translate }}" name="businessCategoryName"
              #businessCategoryName="ngModel" [(ngModel)]="businesscategory.businessCategoryName" />
          </div>
          <div class="col-md-3">
            <label for="businessCategoryCode">Smtp Username</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="businessCategoryCode"
              #businessCategoryCode="ngModel" [(ngModel)]="businesscategory.businessCategoryCode" />
          </div>
          <div class="col-md-3">
            <label for="businessCategoryCode">Smtp Password</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="businessCategoryCode"
              #businessCategoryCode="ngModel" [(ngModel)]="businesscategory.businessCategoryCode" />
          </div>
          <div class="col-md-3">
            <label for="businessCategoryCode">default From Email</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="businessCategoryCode"
              #businessCategoryCode="ngModel" [(ngModel)]="businesscategory.businessCategoryCode" />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="businessCategoryCode">Smtp port</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="businessCategoryCode"
              #businessCategoryCode="ngModel" [(ngModel)]="businesscategory.businessCategoryCode" />
          </div>
          <div class="col-md-3" style="margin-top: 20px">
            <label for="businessCategoryCode">Smtp Auth</label>
            <input class="form-control" type="text" placeholder="{{ 'adminConfigarationPage.commonFields.enterCode' | translate }}" name="businessCategoryCode"
              #businessCategoryCode="ngModel" [(ngModel)]="businesscategory.businessCategoryCode" />
          </div>
        </form>
      </div>
    </div>

  </div>
</div> -->