<div class="mycontent">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">Category</div>
              <div class="panel-body">
                <div class="col-lg-4">
                  <label>Name : </label>
                  <input type="text" class="form-control" placeholder="" />
                </div>
                <div class="col-lg-4">
                    <label>Code : </label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                <div class="col-lg-4">
                    <label>Textbox : </label>
                    <select class="form-control" placeholder="Textbox">
                      <option>Select</option>
                      <option>Active</option>
                      <option>Inactive</option>
                    </select>
                  </div>
    
              </div>
              <div class="panel-footer text-right">
                <button class="btn btn-info btn-sm com-btn">Save</button>
                <button class="btn btn-info btn-sm com-btn">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>>