<div class="col-md-12">
  <div class="panel panel-default">
    <div class="alert alert-warning fade in myAlert" *ngIf="alertMassege">
      <a class="close" href="#" data-dismiss="alert" (click)="clickedAlert()">X</a>
      <h4 style="text-align: center">{{alertMassege}}</h4>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="col-md-3">
          <label for="renewalEmailBefore">Renewal email days before</label>
          <input class="form-control" type="number" name="renewalEmailBefore" #renewalEmailBefore="ngModel" [(ngModel)]="cornJob.renewalEmailBefore"
          />
        </div>
        <div class="col-md-3">
          <label for="renewalEmailTime">Renewal email time</label>
          <input class="form-control" type="time" name="renewalEmailTime" #renewalEmailTime="ngModel" [(ngModel)]="cornJob.renewalEmailTime"
          />
        </div>
        <div class="col-md-12">
          <button id="btnSave" class="btn btn-primary btn-outline pull-right" type="button" (click)="SaveCornJob(cornJob)">Save</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>